<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>沐雪微信公众平台</webname>
  <weburl>http://uweixin.cn</weburl>
  <weblogo>/upload/201407/22/201407221715461295.jpg</weblogo>
  <webcompany>沐雪</webcompany>
  <webaddress>上海浦东新区</webaddress>
  <webtel>13800138000</webtel>
  <webfax>-</webfax>
  <webmail>puzi0315@163.com</webmail>
  <webcrod>粤ICP备11064298号</webcrod>
  <webtitle>沐雪微信接口 沐雪微信 微信机器人  微信订餐 微信代运营</webtitle>
  <webkeyword>微信公众平台,微信导航,微信公众号,微信公众平台,微信营销,微信二维码,明星微信,微信推广,微信,微信网页版</webkeyword>
  <webdescription>沐雪微信平台是微信第三方最权威的微信公众平台,集微信营销、微信公众号、微信二维码、微信推广、微信运营，微信导航等功能为一体的微信公众平台导航。</webdescription>
  <webcopyright>沐雪网络科技©版权所有  Copyright 2014 - 2020. uweixin.cn. All Rights Reserved.</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>0</staticstatus>
  <staticextension>html</staticextension>
  <mobilestatus>1</mobilestatus>
  <mobiledomain>m.uweixin.cn</mobiledomain>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode />
  <smsapiurl />
  <smsusername>test</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <smsnickname>沐雪互动</smsnickname>
  <emailsmtp>smtp.163.com</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>puzi0315@163.com</emailfrom>
  <emailusername>puzi0315@163.com</emailusername>
  <emailpassword>EA4C94A47ED87546</emailpassword>
  <emailnickname>沐雪互动</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt,xlsx,docx,jpeg,mp3,MP3,pfx</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>10240</imgsize>
  <imgmaxheight>800</imgmaxheight>
  <imgmaxwidth>800</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>沐雪互动</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>MxWeiXinPF</sysencryptstring>
</siteconfig>