<vt:if var="bottomtype" value="15">
         <vt:template id="Template1" file="001/_bottommenu.html" charset="utf-8" />
     <vt:elseif value="16" />
        <vt:template id="Template2" file="002/_bottommenu.html" charset="utf-8" />
     <vt:elseif value="17" />
        <vt:template id="Template3" file="003/_bottommenu.html" charset="utf-8" />
   
    <vt:elseif value="18" />
        <vt:template id="Template4" file="004/_bottommenu.html" charset="utf-8" />
    <vt:elseif value="19" />
        <vt:template id="Template5" file="005/_bottommenu.html" charset="utf-8" />
     <vt:elseif value="20" />
        <vt:template id="Template7" file="006/_bottommenu.html" charset="utf-8" />
     <vt:elseif value="21" />
        <vt:template id="Template8" file="007/_bottommenu.html" charset="utf-8" />
     <vt:elseif value="22" />
        <vt:template id="Template9" file="008/_bottommenu.html" charset="utf-8" />
     <vt:elseif value="23" />
        <vt:template id="Template10" file="009/_bottommenu.html" charset="utf-8" />
     <vt:elseif value="24" />
        <vt:template id="Template11" file="010/_bottommenu.html" charset="utf-8" />
     <vt:elseif value="25" />
        <vt:template id="Template12" file="011/_bottommenu.html" charset="utf-8" />
     <vt:elseif value="26" />
        <vt:template id="Template13" file="012/_bottommenu.html" charset="utf-8" />
     <vt:elseif value="27" />
        <vt:template id="Template14" file="013/_bottommenu.html" charset="utf-8" />
     <vt:elseif value="28" />
        <vt:template id="Template15" file="014/_bottommenu.html" charset="utf-8" />
     <vt:elseif value="29" />
        <vt:template id="Template16" file="015/_bottommenu.html" charset="utf-8" />
      <vt:elseif value="30" />
        <vt:template id="Template6" file="016/_bottommenu.html" charset="utf-8" />
      <vt:else />
        <vt:template id="Template0" file="000/_bottommenu.html" charset="utf-8" />
</vt:if>
