/*
 * @author: chenxiaoyong@ehaier.com
 * @date: 2014-08-08
 * @site: http://m.ehaier.com
 */

.gotocart-btn{
	display: inline-block;
	overflow: hidden;
	/* width: 53px; */
	height: 30px;
	line-height: 30px;
	padding: 0 8px;
	border-radius: 3px;
	/*
	background: url(/css/v2/icons/cart_icon.png) no-repeat center center #005aaa;
	-webkit-background-size: 23px 23.5px;
	-moz-background-size: 23px 23.5px;
		 background-size: 23px 23.5px;
	*/
	background-color: #005aaa;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}
.ciw-btn {
	width: 65px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.ciw-btn .ci-ciw-btn {
	width: 44px;
	height: 44px;
	border-radius: 44px;
	margin: 0 auto;
	background:  no-repeat center center;
	background-size: 44px;
	display: block;
}
.ciw-btn .fridge-icon {
	background-position: 0 0;
}
.ciw-btn .air-icon {
	background-position: 0 -44px;
}
.ciw-btn .wash-icon {
	background-position: 0 -88px;
}
.ciw-btn .tv-icon {
	background-position: 0 -176px;
}
.ciw-btn .hotwater-icon {
	background-position: 0 -220px;
}
.ciw-btn .kitchen-icon {
	background-position: 0 -132px;
}
.ciw-btn .life-icon {
	background-position: 0 -308px;
}
.ciw-btn .cold-icon {
	background-position: 0 -264px;
}
.ciw-btn .baby-icon {
	background-position: 0 -352px;
}
.ciw-btn .mobile-icon {
	background-position: 0 -396px;
}
.ciw-btn .computer-icon {
	background-position: 0 -440px;
}
.ciw-btn .medical-icon {
	background-position: 0 -486px;
}
.ciw-btn .w-ciw-btn {
	line-height: 20px;
	font-size: 15px;
	font-weight: bold;
	color: #1a1a1a;
}
.tc {
	margin: 10px 12px 8px;
}
.tc-icon {
	width: 5px;
	height: 16px;
	display: inline-block;
	overflow: hidden;
}
.tc-icon span {
	width: 100%;
	height: 2px;
	margin-bottom: 2px;
	background-color: #005aaa;
	display: block;
	overflow: hidden;
}
.tc .tc-head {
	height: 30px;
	line-height: 30px;
	color: #1a1a1a;
	font-size: 16px;
}

.tc .tc-head .tc-icon {
	margin-top: 10px;
	position: absolute;
}

.tc .tc-head .tc-title {
	padding-left: 10px;
	font-weight: bold;
}
.tc .tc-head .tc-title a {
	color: #b2b2b2;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	font-family: icon;
}
.tc .tc-head .tc-title .countdown {
	padding: 6px 0 0 3px;
}
.tc .tc-body{
	width: 100%;
}
.tc .tc-body img {
	vertical-align: middle;
}
.slide {margin-bottom: 15px;}
.slide ul,
.category ul{
	padding: 0;
	margin: 0;
	list-style: none;	
}
.slide img{
	width: 100%;
	vertical-align: middle;
}
.slide .swiper-container { 
	width: 320px;
	height: 164px;
	overflow: hidden;
}
@media only screen and (min-width: 360px) { 
	.slide .swiper-container { width: 360px; height: 185px; }
} 
@media only screen and (min-width: 480px) { 
	.slide .swiper-container { width: 480px; height: 245px; }
} 
@media only screen and (min-width: 640px) { 
	.slide .swiper-container { width: 640px; height: 328px; }
} 
@media only screen and (min-width: 680px) { 
	.slide .swiper-container { width: 680px; height: 350px; }
} 
@media only screen and (min-width: 720px) { 
	.slide .swiper-container { width: 720px; height: 370px; }
} 
.slide .pagination {
    width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.slide .swiper-pagination-switch {
  display: block;
  overflow: hidden;
  width: 10px;
  height: 3px;
  /* border-radius: 10px; */
  background: #a6a6a6;
  /* box-shadow: 0px 1px 2px #555 inset; */
  /* margin: 0 3px; */
  cursor: pointer;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
.slide .swiper-active-switch {
  background: #005aaa;
}
.category {
	height: 115px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.category .swiper-container, 
.category .swiper-slide {
	width: 100%;
    height: 90px;
	text-align: center;
}
.category .pagination {
    width: 100%;
    text-align: center;
}
.category .swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px; 
  cursor: pointer;
}
.category .swiper-active-switch {
  background: #fff;
}
.category .ciw-btn{
	margin: 25px 5px 0 0;
}


.product-new {
	padding: 0;
	margin: 0;
	list-style: none;
}

.product-new li:nth-child(odd){
	padding-right: 3px;
}
.product-new li:nth-child(even){
	padding-left: 3px;
}

.product-new .item-product-new {
	width: 50%;
	box-sizing: border-box;
	float: left;
	overflow: hidden;
}
.product-new .item-product-new .wrap{
	padding: 15px 5px 15px 10px;
	border-radius: 5px;
	background-color: #ebe2d3;
	box-sizing: border-box;
	overflow: hidden;
}
.product-new .img-product-new {
	width: 50px;
	height: 70px;
	margin-right: 5px;
	overflow: hidden;
	float: left;
}
.product-new .img-product-new img {
	width: 50px;
	height: 70px;
}
.product-new .info-product-new,
.product-new .info-product-new div {
	min-width: 75px;
	overflow: hidden;
	height: 40px;
	line-height: 20px;
	padding: 15px 0;
	color: #1a1a1a;
	font-size: 13px;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.product-new .info-product-new div {
	padding-top: 0;
	color: #777571;
}

.product-new .info-product-new span{
	color: #777571;
	font-size: 11px;
	font-weight: normal;
}

.soon-buy{
	padding: 0;
	margin: 0;
	list-style: none;
	border: 1px solid #ccc;
	border-bottom: none;
}
.soon-buy .product-soon-buy {
	border-bottom: 1px solid #ccc;
	padding: 15px 12px;
}
.soon-buy .img-product {
	/* width: 68px; */
	height: 74px;
	line-height: 74px;
	margin-right: 10px;
	display: block;
	text-align: center;
	float: left;
}
.soon-buy .img-product img { 
	height: 100%;
	vertical-align: middle;	
}

.soon-buy .info-product { 
	padding-top: 8px;
}
.soon-buy .product-name{
	line-height: 20px;
	color: #1a1a1a;
	font-size: 14px;
	font-weight: bold;
}
.soon-buy .product-name small{
	color: #4d4d4d;
}
.soon-buy .product-price span {
	/* margin-right: 16px; */
	color: #c42323;
	font-weight: bold;
}
.soon-buy .product-price del {
	color: #b3b3b3;
	font-size: 12px;
	font-weight: bold;
}
.soon-buy .gotocart-btn {
	margin-top: 22px;
	float: right;
}

.product{
	margin-bottom: -15px;
}
.product .item-product {
	margin-bottom: 15px;
}
.product .info-product {
	position: relative;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	background-color: #e6e6e6;
	font-size: 14px;
}
.product .info-product .fl { 
	overflow: hidden;
	width: 100%;
	padding-right: 60px;
	text-overflow: ellipsis;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	white-space: nowrap;

}
.product .info-product .fl span {
	color: #1a1a1a;
}
.product .info-product .fl strong{
	color: #767676;
	font-size: 12px;
	font-weight: normal;
}

.product .info-product .fr {
	position: absolute;
	right: 5px;
	top: 0;
	color: #005aaa;
	font-weight: bold;
}
