.ui-navigator-list,
.ui-navigator-list li {
    list-style: none;
}
.ui-navigator-list li {
    display: inline-block;
    white-space:nowrap;/*ÄÚÈÝ²»»»ÐÐ*/
}

.ui-navigator-list {
    width: 100%;
    display: -webkit-box;
}
.ui-navigator-list li {
    line-height: 34px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
.ui-navigator-list li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    width: 100%;
    -webkit-box-sizing:border-box;
    padding:0;
}
.ui-navigator-list li.ui-state-hover,
.ui-navigator-list li.ui-state-active {
   
}

.ui-scroller {
    padding: 0;
    margin: 0;
    display: inline-block;
}
.ui-scroller .ui-navigator-list {
    display: table;
    table-layout: fixed;
    white-space:nowrap;
    width: auto;
}
.ui-scroller .ui-navigator-list:after {
    content: '';
    clear: both;
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
}
.ui-scroller .ui-navigator-list li {
    display: inline-block;
    /*float: left;*/
}

.order_img img{ width:80px; border:none;}