.video_close{ position: absolute; right:10px; top: 10px; cursor: pointer;}

.ca-menu{
    padding:0;
    margin:20px;
}
.ca-menu li{
    width: 25%;
    overflow: hidden;
    position: relative;
    float:left;
    background: #fff;border-radius: 10px;
	/*border-bottom:1px solid rgba(0,0,0,0.08);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);*/
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;
	margin-bottom:10px;border-bottom: 1px solid #e7e8e9;
}
.ca-menu li:last-child{
    margin-right: 0px;
}
.ca-menu li a{
    text-align: center;
    display: block;
    color: #333;
	height:77px;
	position:relative;
	padding: 15px 10px 20px 80px;
}

.ca-icon{
    font-size: 40px;
    /*-webkit-mask: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(72,79,70,0.2)),to(#898c98));*/
	color:#666;
    text-align: center;
    -webkit-transition: all 50ms linear;
    -moz-transition: all 50ms linear;
    -o-transition: all 50ms linear;
    -ms-transition: all 50ms linear;
    transition: all 50ms linear;
	position:absolute;
	left:15px;
}
.ca-content{
    left: 0px;
    width: 100%;
    height: 50%;
    top: 90px;
}
.ca-main{
	color:#707586;
    font-size: 18px;
    text-align: left;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-sub{
    text-align:left;
    font-size: 14px;
    color: #999;
    line-height: 20px;
    opacity: 0.8;
    width: 100%; 
	margin-top: 5px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-sub p{
    color: #999; clear:both;
}
.ca-menu li:hover{
background-color:#0085FF;
z-index:999; 
}

.ca-menu li:hover .ca-icon{
    color:#fff;
	/*text-shadow: 0 0 6px rgba(0,0,0,.5);*/
}
.ca-menu li:hover .ca-main{
    color: #fff;
    -webkit-animation: moveFromBottom 300ms ease;
    -moz-animation: moveFromBottom 300ms ease;
    -ms-animation: moveFromBottom 300ms ease;
}
.ca-menu li:hover .ca-sub p{
	color: #fff;
	opacity:1;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}
@-webkit-keyframes smallToBig{
    from {
        -webkit-transform: scale(0.1);
    }
    to {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes smallToBig{
    from {
        -moz-transform: scale(0.1);
    }
    to {
        -moz-transform: scale(1);
    }
}
@-ms-keyframes smallToBig{
    from {
        -ms-transform: scale(0.1);
    }
    to {
        -ms-transform: scale(1);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}





.banner-services {
  height: 555px;
}


.carousel {
  min-width: 1210px;
  position: relative;
}
.carousel-scenes {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: 10;
}
.fade-in {
  opacity: 1;
  -webkit-transition: opacity 1s ease 0;
     -moz-transition: opacity 1s ease 0;
      -ms-transition: opacity 1s ease 0;
       -o-transition: opacity 1s ease 0;
          transition: opacity 1s ease 0;
}
.fade-out {
  opacity: 0;
  display: none\0;
}
.carousel-scenes.fade-out{
  z-index: 9;
}
.has-link {
  cursor: pointer;
}
.carousel-controls {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 40px;

  text-align: center;

  font-size: 0;
  z-index: 20;
}
.carousel-controls .item,
.carousel-controls .item-selected {
  width: 16px;
  height: 17px;
  background: url(../images/normal_bg.png) no-repeat;
}
.carousel-controls .item {
  display: inline-block;
  margin: 6px 8px 0;
  background-position: -249px -51px;
  cursor: pointer;
}
.carousel-controls .current {
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel-controls .item:hover {
  background-position: -216px -51px;
}
.carousel-controls .item-selected {
  position: absolute;
  top: 6px;
  left: 50%;

  background-position: -182px -51px;

  -webkit-transition: all 0.5s ease 0;
     -moz-transition: all 0.5s ease 0;
      -ms-transition: all 0.5s ease 0;
       -o-transition: all 0.5s ease 0;
          transition: all 0.5s ease 0;
}

.carousel-controls-prev,
.carousel-controls-next {
  position: absolute;
  top: 50%;

  width: 27px;
  height: 84px;
  margin-top: -42px;
  background: url(../images/normal_bg.png) no-repeat;
  cursor: pointer;
  display: none;

  z-index: 30;
}
.carousel-controls-prev {
  left: 20px;
  background-position: 0 -59px;
}
.carousel-controls-prev.in-widget {
  left: -50px;
}
.carousel-controls-prev:hover {
  background-position: -33px -59px;
}

.carousel-controls-next {
  right: 20px;
  background-position: -88px -59px;
}
.carousel-controls-next.in-widget {
  right: -50px;
}
.carousel-controls-next:hover {
  background-position: -119px -59px;
}

/*功能图标*/
.gongneng{ width:1164px; margin:0 auto; padding-top:10px;background: url(../images/present-line2.jpg) repeat-x left top; }
.gongneng li{ width:33%; float:left; width:380px;margin:15px 12px 0 0;}
.gongneng li a:hover{ color:#636B89} 
.gongneng li.mgr{ margin-right:0}
.gongneng li .gnimg { width: 88px;height:110px;margin-right: 16px;float: left;}
.gongneng li .gnimg .two{ display:none}
.gongneng li a:hover .one{ display:none}
.gongneng li a:hover .two{ display: block;-webkit-animation: smallToBig 300ms ease;
-moz-animation: smallToBig 300ms ease;
-ms-animation: smallToBig 300ms ease;}

.gongneng .gnbg{ display: block;
height: 96px;
border-radius: 10px;
padding: 27px 35px 27px 27px;
background: url(../images/gnico/gnbg1.jpg) no-repeat 0 0;}
.gongneng .gnbg h2{ font-size: 22px;
font-weight: normal;
line-height: 36px;
margin-top: 2px;}
.gongneng .gnbg p{ font-size:14px; line-height: 21px;}
.gongneng li:hover .gnbg{background: url(../images/gnico/gnbg2.jpg) no-repeat 0 0;}



.present{ width:100%; margin:0 auto; display:block;}
.present li {margin: 0 auto;position: relative;width: 1210px;}
.present li:after {
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    width: 1210px;
	background: url(../images/present-line.jpg) no-repeat left center;
}
.present li .presenttext{ width:480px; display:block;position:absolute; }
.present li h2{ font-size:24px; font-weight:normal; color:#636B89;margin-bottom: 6px;}
.present li p{ font-size:16px; color:#636B89; line-height:24px}
.presenttext h2 a{color:#090}
.present008{ height: 150px;}
.present li.present008 .presenttext{ left:0; top:45px; text-align:center; width:1210px}
.present li.present008:after {
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    width: 1210px;
	background: none;
}

.w {
width: 1210px;
min-width: 1210px;
margin: 0 auto;
display: block;
}
/*noticeindex*/
.noticeindex{
	width: 1164px;
min-width: 1164px;
margin: 0 auto;
margin-top: 15px;
margin-bottom: 0;
	display:block;font-size:18px; text-align:center;
overflow: hidden;
color: #222;
border: 1px solid #d0d1d3;
background-color: #f3f3f3;
line-height: 40px;
height: 40px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}
.noticelist .biaoti{font-size:16px; }
.noticelist .volume{font-size: 16px;
margin-right: 8px;
color: #5978BB;
display: inline-block;
width: 110px;margin-left:20px\9;
}
.noticelist .volume a{
color: #5978BB !important;
}
.noticelist .volume i{background: url(../images/icon_news.png) no-repeat left center;width: 20px;
height: 20px;color:#5978BB !important;margin-top: 0 !important;margin-right: 3px !important;
}
.noticelist .date{ margin-left:10px;font-size:16px;  color:#999}
.noticelist .biaoti:hover{color:#5978BB;}
.noticelist{ display:inline-block}
.noticelist li{ display:inline-block; max-width:320px; margin-right:10px; overflow:hidden;text-align: left;text-overflow: ellipsis;
white-space: nowrap; position:relative; float:left\9; }
.noticelist li a{ color:#333}
.noticelist li i{ display: inline-block;
vertical-align: middle;
color: #bebebe;
margin-right: 5px;
margin-top: -0.2em;
font-weight: 400;
font-style: normal;}
.label_new {
position: relative;
top: -2px;
right: 0;
}
/*newslist*/
.newslist{ margin-bottom:20px;}
.newslist li{ border-bottom: 1px solid #EEE; position:relative;line-height: 46px;}
.newslist li a{ height: 46px;line-height: 46px;  padding:0 5px; display:block; color:#333}
.newslist li a:hover{ color:#F60;}
.newslist li .date{ color:#999;margin-right:5px; position:absolute; right:5px; top:0;}
/*content*/
.content { }
.content2 { 
padding:10px; margin-bottom:20px;
border: 1px solid #d9d9d9;
background-color:#F5F5F5;
border-radius: 5px;
}
.content2 h2 { font-size:16px; }
.content2 h3 { color:#333;font-weight: bold; font-size:16px; display: block; height:32px; width: 100%; margin-left:10px; position:relative;}
.content2 h3 i{ margin-right:8px; }
.back{ color:#666 !important; display:block; line-height:35px; border:1px solid #ccc; font-weight:normal;border-radius:3px; background-color:#fdfdfd; font-size:14px; padding:0 15px; margin:10px 0;}
.content2 h3 .back{ position:absolute; top:0; right:15px; line-height:24px; }
.back:hover {
	background: #fff;box-shadow:0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.back:active {
    background: #f9f9f9;box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.fpad{ padding:10px 10px 10px 30px}
.nopad{ padding:10px 0 0 0}
.nopad h3{ margin-left:20px;}
.bgblue{background-color:rgba(21, 102, 194, 0.81); border:0; box-shadow: none;}
.bgblue h3{ color:#FFF;margin-left:10px;}
.content3 { background-color: #FFF;border-radius: 5px; font-size:16px; line-height:26px;}
.content3 h2 { font-size:16px; }
.content3 p { margin: 0 0 10px 0; }
.content3 img { max-width:1110px}
.blue { color: #0071EC; }
.content3 dl { padding: 10px 0; }
.content3 dt { width: 80px; font-weight: bold; font-size: 18px; line-height: 30px; color: #444; display: block; float:left; }
.content3 dt.hb { line-height: 68px; }
.content3 dd { display:block; margin-left: 80px; border-left: 1px dotted #b2b2b2; line-height: 30px; padding-left:10px; }
.content3 dd a { display: inline-block; color: #666;  margin: 0 5px 0 0; padding: 1px 5px; text-decoration: none; font-size: 12px; }
.menubg { overflow-x: hidden; overflow-y: auto; width:140px; float:left; }
.menu0 div { display:block; float:left; padding:4px 0 4px 4px;width:140px; text-align: left; text-indent: 2px; cursor:pointer; color:  #000000; font-size:14px; position: relative; }
.menu0 div i { display: inline-block; width:24px; }
.menu0 div.hover { color: #0071EC; background-color:#fff; -moz-border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; }
.menu0 div span { background: url(../images_a/icon_new.gif) no-repeat scroll 0 0 transparent; border: 0 none; display: block; height: 11px; position: absolute; right: 0; top: 0; width: 23px; z-index: 10; right: 5px; top: 6px; }
#main0 div { padding:20px 0; display: none; text-decoration: none; word-wrap: break-word; }
#main0 div img { margin:10px 0; }
#main0 div.block { margin:15px; display: block; text-decoration: none; word-wrap: break-word; }
.marginb { margin-bottom:15px; display: block; }
.menuhelp .content3{ margin-left:220px; min-height:400px;border-radius: 0;padding: 20px;}
.menuhelp .content3 img{ max-width: 740px;}
.menuhelp .content4 img{ max-width: 945px;}
.menuhelp .content4 { font-size:14px;}

ul#menu {
display: block;
width: 220px;
float: left;
}
ul#menu .ckit {
display: none;
}
ul#menu li ul li a {
background-color: #fcfcfc;
background-position: 18px 50%;
padding-left: 30px;
}